html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.stage, .settings, .shaft, .elevator, .office {
	float: left;
}

.stage {
	width: 600px;
}

.settings {
	width: 20%;
}

.building {
	width: 300px;
	margin-left: 25%;
	background-color: #aaa;
}

.floor {
	border: 1px solid black;
	width: 100%;
	height: 40px;
	background-color: #abc;
}

.office {
	width: 112px;
	height: 100%;
}

.shafts {
	height: 100%;
}

.shaft {
	width: 32px;
	height: 100%;
	background-color: #000;
}

.shaft + .shaft {
	margin-left:10px;
}

.elevator {
	background-color: #eee;
	z-index: 10;
	position: relative;
	height: 30px;
	width: 30px;
	top: -31px;
	left: 102px;
	margin-left: 12px;
}
